<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Tasks</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>All Tasks</h1>
    <ul>
        <% tasks.forEach(task => { %>
            <li>
                <a href="/task?id=<%= task.id %>"><%= task.title %></a>
            </li>
        <% }) %>
    </ul>
    <a href="/add-task">Add Task</a>
</body>
</html>
